@page
@model ProyectoProgramacionAvanzadaWeb.Pages.Admin.Usuario.DetailsModel

@{
    Layout = "~/Pages/Shared/_LayoutAdminDashboard.cshtml";
    ViewData["Title"] = "Details";
}

<div class="pagetitle">
    <h1>Detalles Usuario</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Admin</li>
            <li class="breadcrumb-item">Usuarios</li>
            <li class="breadcrumb-item active">Perfil</li>
        </ol>
    </nav>
</div>

<section class="section profile">
    <div class="row">
        <div class="col-xl-4">

            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                    <img src="~/assetsDashboard/img/not-found.svg" alt="Profile" class="rounded-circle">
                    <h2>@Html.DisplayFor(model => model.Usuarios.Nombre) @Html.DisplayFor(model => model.Usuarios.Apellido_Paterno)</h2>
                    <h3>@Html.DisplayFor(model => model.Usuarios.Rol.NombreRol)</h3>
                </div>
            </div>

        </div>

        <div class="col-xl-8">
            <div class="card">
                <div class="card-body pt-3">
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-edit">Detalles Usuario</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Cambio de contraseña</button>
                        </li>

                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-edit pt-3" id="profile-edit">

                            <div class="row mb-3">
                                <label for="TipoIdentificacion" class="col-md-4 col-lg-3 col-form-label">Tipo de Identificación</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="tipoIdentificacion" type="text" class="form-control" id="TipoIdentificacion" value="@Model.Usuarios.TipoIdentificacion.TipoIdentificacion" disabled>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="Identificacion" class="col-md-4 col-lg-3 col-form-label">Identificación</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="identificacion" type="text" class="form-control" id="Identificacion" value="@Model.Usuarios.Identificacion" disabled>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="nombreCompleto" class="col-md-4 col-lg-3 col-form-label">Nombre Completo</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="nombreCompleto" type="text" class="form-control" id="nombreCompleto" value="@Model.Usuarios.Nombre @Model.Usuarios.Apellido_Paterno @Model.Usuarios.Apellido_Materno" disabled>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="Rol" class="col-md-4 col-lg-3 col-form-label">Rol</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="rol" type="text" class="form-control" id="Rol" value="@Model.Usuarios.Rol.NombreRol" disabled>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="Email" class="col-md-4 col-lg-3 col-form-label">Correo Electrónico</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="email" type="email" class="form-control" id="Email" value="@Model.Usuarios.Email" disabled>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="Telefono" class="col-md-4 col-lg-3 col-form-label">Teléfono</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="telefono" type="text" class="form-control" id="Telefono" value="@Model.Usuarios.Telefono" disabled>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="Direccion" class="col-md-4 col-lg-3 col-form-label">Dirección</label>
                                <div class="col-md-8 col-lg-9">
                                    <textarea name="direccion" class="form-control" id="Direccion" rows="3" disabled>
                                        @Model.Usuarios.Direccion
                                    </textarea>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="Genero" class="col-md-4 col-lg-3 col-form-label">Genero</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="Genero" type="text" class="form-control" id="Genero" value="@Model.Usuarios.Genero.TipoGenero" disabled>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="d-flex justify-content-center">
                                    <a class="btn btn-primary mx-2" asp-page="./Edit" asp-route-id="@Model.Usuarios?.IdUsuario">Editar</a>
                                    <a asp-page="Index" class="btn btn-secondary mx-2">Volver a la Lista</a>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade pt-3" id="profile-change-password">
                            <form>
                                <div class="row mb-3">
                                    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Contraseña Antigua</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="password" type="password" class="form-control" id="currentPassword">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Nueva Contraseña</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="newpassword" type="password" class="form-control" id="newPassword">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Confirmar Nueva Contraseña</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Change Password</button>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
