@page
@model ProyectoProgramacionAvanzadaWeb.Pages.Admin.HistorialComprasCarros.DeleteModel

@{
    Layout = "~/Pages/Shared/_LayoutAdminDashboard.cshtml";
    ViewData["Title"] = "Delete";
}

<div class="pagetitle">
    <h1>Detalles Historial de Compra</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Admin</li>
            <li class="breadcrumb-item">Historial de Compras</li>
            <li class="breadcrumb-item active">Eliminar</li>
        </ol>
    </nav>
</div>

<section class="section profile">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body pt-3">
                    <h5 class="card-title">¿Estás seguro de eliminar este Historial de Compra?</h5>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-edit pt-3" id="profile-edit">

                            <div class="row mb-3">
                                <label for="IdHistorialCompraCarro" class="col-md-4 col-lg-3 col-form-label">ID de Historial de Compra</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="idHistorialCompraCarro" type="text" class="form-control" id="IdHistorialCompraCarro" value="@Model.HistorialCompraCarro.IdHistorialCompraCarro" disabled>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="IdUsuario" class="col-md-4 col-lg-3 col-form-label">ID de Usuario</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="idUsuario" type="text" class="form-control" id="IdUsuario" value="@Model.HistorialCompraCarro.IdUsuario" disabled>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="IdCarrito" class="col-md-4 col-lg-3 col-form-label">ID de Carrito</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="idCarrito" type="text" class="form-control" id="IdCarrito" value="@Model.HistorialCompraCarro.IdCarro" disabled>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="Descripcion" class="col-md-4 col-lg-3 col-form-label">Descripción</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="descripcion" type="text" class="form-control" id="Descripcion" value="@Model.HistorialCompraCarro.Descripcion" disabled>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="Fecha" class="col-md-4 col-lg-3 col-form-label">Fecha</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="fecha" type="text" class="form-control" id="Fecha" value="@Model.HistorialCompraCarro.Fecha" disabled>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="IdEstado" class="col-md-4 col-lg-3 col-form-label">ID de Estado</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="idEstado" type="text" class="form-control" id="IdEstado" value="@Model.HistorialCompraCarro.IdEstado" disabled>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="d-flex justify-content-center">
                                    <form method="post">
                                        <input type="hidden" asp-for="HistorialCompraCarro.IdHistorialCompraCarro" />
                                        <input type="submit" value="Eliminar" class="btn btn-danger" />
                                        <a asp-page="Index" class="btn btn-secondary mx-2">Volver a la Lista</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

