@model ProyectoProgramaciónAvanzadaWeb.Models.Usuario

@{
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
    ViewData["Title"] = "Crear Usuario";
}

<div class="pagetitle">
    <h1>Eliminar Usuario</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Usuarios</li>
            <li class="breadcrumb-item active">Eliminar</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Eliminar Usuario</h5>

                    <dl class="row">
                        <dt class="col-sm-6">ID Usuario</dt>
                        <dd class="col-sm-6">@Model.IdUsuario</dd>

                        <dt class="col-sm-6">Nombre</dt>
                        <dd class="col-sm-6">@Model.Nombre</dd>

                        <dt class="col-sm-6">Apellidos</dt>
                        <dd class="col-sm-6">@Model.Apellidos</dd>

                        <dt class="col-sm-6">Rol</dt>
                        <dd class="col-sm-6">@Model.Rol</dd>

                        <dt class="col-sm-6">Sexo</dt>
                        <dd class="col-sm-6">@Model.Sexo</dd>

                        <dt class="col-sm-6">Cedula</dt>
                        <dd class="col-sm-6">@Model.Cedula</dd>

                        <dt class="col-sm-6">Teléfono</dt>
                        <dd class="col-sm-6">@Model.NumeroTelefono</dd>

                        <dt class="col-sm-6">Correo Electrónico</dt>
                        <dd class="col-sm-6">@Model.CorreoElectronico</dd>

                        <dt class="col-sm-6">Dirección</dt>
                        <dd class="col-sm-6">@Model.Direccion</dd>
                    </dl>

                    <form asp-action="Delete" class="needs-validation" novalidate>
                        <input type="hidden" asp-for="IdUsuario" />

                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-danger mx-2">Eliminar</button>
                            <a asp-action="Index" class="btn btn-secondary mx-2">Volver a la Lista</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}